<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROGLUH</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <a href="../../progluh.php" class="btn mb-3"><i class="bi bi-arrow-left-circle"></i></a>
        <hr>
        <h1 class="text-dark text-center">Repetições</h1>
        <hr width="50%" class="text-left">
        <div class="container mt-5">
            <h3 class="text-info pt-5">Primeiros passos</h3>
            <p class="text-justify">
            Pense em uma música que você ama e sempre escuta várias vezes seguidas. <br>
            Em programação, repetições são como "tocar" um trecho de código várias vezes, até que algo aconteça ou
            um limite seja atingido. 🎶
            <br>
            <hr>
            <h4 class="text-info">Contadores 📊</h4>
            Agora, imagine que você tem uma contagem regressiva para algo incrível acontecer.
            <br>
            Um contador na programação é exatamente isso: ele ajuda a contar quantas vezes algo foi feito.
            <br>Por exemplo, quantas vezes você pulou em um jogo?
            <br>Ou quantas maçãs você já comeu no programa?
            <br>
            Podemos chamar um contador de <span class="text-danger">variável de controle</span>.
            <br>
            <hr>
            <br>
            <h4 class="text-info">Tipos de Repetições 🔄</h4>
            <b>FOR:</b> É como uma contagem regressiva. Você sabe quantas vezes quer repetir algo e pronto!
            <br>
            Em português é chamado de PARA.
            <br>
            O teste lógico é feito no início e repete um número definido de repetições.
            <br>
            <code>
            for i := 1 to 10 do <br>
                <span class="mx-3">writeln(i);</span>
            </code>
            <br>
            Isso imprimirá os números de 1 a 10.
            <br>
            <hr>
            <b>WHILE:</b> É como uma repetição que vai até que algo seja verdadeiro.<br>
            É como dizer: "Enquanto estiver sol, vou à praia!"
            <br>
            Em português é chamado de ENQUANTO.
            <br>
            O teste lógico é feito no início e a repetição acontece enquanto que a condição for verdadeira.
            <br>
            <code>
            while temperatura > 25 do <br>
                <span class="mx-3">writeln('Vá à praia!');</span>
            </code>
            <br>
            Isso continuará sugerindo ir à praia enquanto estiver calor (temperatura acima de 25). <br>
            <hr>
            <b>REPEAT...UNTIL:</b> É parecido com o WHILE, mas verifica a condição no final.
            <br>
            <code>
            i := 1<br>
            repeat<br>
                <span class="mx-3">writeln(i);</span><br>
                <span class="mx-3">i := i + 1;</span><br>
            until i > 10;
            </code>
            <br>
            Ele vai mostrar os números de 1 até 10.
            <br>
            E aí, deu pra entender um pouquinho sobre repetições e contadores? Espero que sim! 😄👍
            </p>
            <a href="1.html" class="btn btn-success">Próximo</a>
            <br>
            <br>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>