<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROGLUH</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <a href="../../progluh.php" class="btn mb-3"><i class="bi bi-arrow-left-circle"></i></a>
        <hr>
        <h1 class="text-dark text-center">Blocos de repetições</h1>
        <hr width="50%" class="text-left">
        <div class="container mt-5">
            <h3 class="text-info pt-5">Primeiros passos</h3>
            <p class="text-justify">
                Na programação utilizamos blocos para separar trechos de código que a máquina irá executar. 🤖
                <br>
                De modo geral, os blocos são opcionais quando você utiliza somente uma instrução na repetição. 🔄
                <br>
                Por exemplo: <br>
                <code>
                for i := 1 to 10 do <br>
                    <span class="mx-3">writeln(i);</span>
                </code>
                <br>
                Existe somente uma instrução <code>writeln()</code> e a estrutura <code>for</code> executará 10 vezes
                esse writeln(). <br>
                Se o código fosse assim:<br>
                <code>
                    for i := 1 to 10 do <br>
                        <span class="mx-3">writeln('Número atual: ');</span><br>
                    writeln(i);
                </code>
                <br>
                O código mostrará 10 vezes a mensagem "Número atual:" e ao final mostrará uma vez o número 10. Pois a
                instrução <code>writeln(i)</code> está fora do <b class="text-danger">escopo</b> da estrutura
                <code>for</code>.
                <br>
                <button class="btn btn-success" id="testar1">Eu quero testar!</button>
            <p id="teste1"></p>
            <br>
            Agora, quando iniciamos um bloco de repetição: <br>
            <code>
                    for i := 1 to 10 do <br>
                    begin<br>
                        <span class="mx-3">writeln('Número atual: ');</span><br>
                        <span class="mx-3">writeln(i);</span><br>
                    end;
                </code>
            <br>
            Agora toda todos os comandos estão dentro do bloco que será executado 10 vezes.
            <br>
            <button class="btn btn-success" id="testar2">Eu quero testar!</button>
            <p id="teste2"></p>
            <br>
            <hr>
            <h4 class="text-info">FOR / PARA </h4>
            <code>BEGIN</code> é utilizado para iniciar um bloco.
            <br>
            <code>END;</code> é utilizado para finalizar um bloco.
            <br>
                O uso de ; ao final do <code>END;</code> é obrigatório na maioria das vezes. <span class="text-danger">Exceto:</span> quando o comando da linha depois do END ser <code>ELSE</code>
            <br>
            <hr>
            <h4 class="text-info">WHILE / ENQUANTO </h4>
            <code>BEGIN</code> é utilizado para iniciar um bloco.
            <br>
            <code>END;</code> é utilizado para finalizar um bloco.
            <br>
                O uso de ; ao final do <code>END;</code> é obrigatório na maioria das vezes. <span class="text-danger">Exceto:</span> quando o comando da linha depois do END ser <code>ELSE</code>
            <br>
            <hr>
            <h4 class="text-info">REPEAT ... UNTIL / REPITA ... ATÉ </h4>
            <code>REPEAT</code> é utilizado para iniciar um bloco. Não utilizamos <code>BEGIN</code>
            <br>
            <code>UNTIL condição;</code> é utilizado para finalizar um bloco. Não utilizamos <code>END;</code>
            <br>
                O uso de ; ao final da <code>condição;</code> é obrigatória.
            <br>
            <hr>
            </p>
            <a href="1.html" class="btn btn-success">Próximo</a>
            <br>
            <br>
        </div>
    </div>
    <script>
        document.getElementById('testar1').addEventListener('click', function () {
            document.getElementById('teste1').innerHTML = 'Número atual: <br> Número atual: <br> Número atual: <br> Número atual: <br> Número atual: <br> Número atual: <br> Número atual: <br> Número atual: <br> Número atual: <br> Número atual: <br> 10'

        })
        document.getElementById('testar2').addEventListener('click', function () {
            document.getElementById('teste2').innerHTML = 'Número atual: 1<br> Número atual: 2<br> Número atual: 3<br> Número atual: 4<br> Número atual: 5<br> Número atual: 6<br> Número atual: 7<br> Número atual: 8<br> Número atual: 9<br> Número atual:  10'

        })
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>