<script>
const texto = "Clique no código que abre o bloco de comandos e no bloco que o fecha."
const op = [
"Program Soma;",
"uses CRT;",
"VAR",
"resultado, n1, n2 : Integer;",
"Begin",
"Writeln('Algoritmo que realiza a soma de dois números inteiros');",
"Writeln('Informe o primeiro valor:');",
"Readln(n1);",
"Writeln('Informe o segundo valor:');",
"Readln(n2);",
"resultado := n1+n2;",
"Writeln('Soma:', resultado);",
"End."
]
contador = 0;
document.write(`<div id="q4">
<h1>${texto}</h1>
<br>
<div class="p-md-3 d-grid">`)
for(var i=0; i < op.length; i++){
    document.write(`
        <div class="input-group">
                <button
                type="button"
                id='${i+1}'
                class="form-control btn btn-outline-secondary"
                onclick="conferir(${i+1})"'>
                ${op[i]}
                </button>
        </div>`)}
document.write(`
<br>
<br>
<input type="text" value="" id="q4" name="bll1a1q4" hidden/>
    </div>
</div>
`)

function conferir(resp){
    document.getElementById(resp).disabled = true
    if(resp == 5 || resp == 13){
        contador++;
        if(contador == 2){
            document.getElementById('q4').value = "Certo"
            document.getElementById('form').submit()
        }
    } else {
        document.getElementById('q4').value = "Errado"
        document.getElementById('form').submit()
    }
}
</script>